body {
    background-color: #eee;
}
.box{
    margin:10px 15px;
    width: 200px;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.4s;
}
.red{
    border-left: solid red 3px;
}
.green{
    border-left: solid green 3px;
}
.blue{
    border-left: solid blue 3px;
}
.red:hover{
    transform: scale(1.1,1.1);
}
.green:hover{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}
.blue:hover{
    background-color: rgba(0,0,255,0.1);
}
