body{
    background: gray;
}

#parrafo {
    color: green;
}

.etiqueta {
    color:brown; 
}
.caja {
    margin: 10px;
    padding: 10px;
    border-style: inset;
    border-color: bisque;
    border-width: 8px;
    border-right: 8px solid green;
    border-radius: 20px;
    background-color: aqua;
    height: 150px;
    width: 150px;
    color: darkred;
}